@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'CD-Bold';
    font-weight: 'bold';
    src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'CD-Extralight';
    font-weight: 'extra-light';
    src: url('/fonts/ClashDisplay-Extralight.woff2') format('woff2');
  }

  @font-face {
    font-family: 'CD-Light';
    font-weight: 'light';
    src: url('/fonts/ClashDisplay-Light.woff2') format('woff2');
  }

  @font-face {
    font-family: 'CD-Medium';
    font-weight: 'medium';
    src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'CD-Regular';
    font-weight: 'regular';
    src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'CD-Semibold';
    font-weight: 'semibold';
    src: url('/fonts/ClashDisplay-semibold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'CD-Variable';
    font-weight: 'variable';
    src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2');
  }
}
